<h1>Stupid Coaching</h1>

<div class="question">
  <p><%= @user_question %></p>
  <br><em>- You</em>
</div>

<div class="answer">
  <p><strong><%= @answer %></strong></p>
  <br><em>- Your coach</em>
</div>
<div class="link">
  <%= link_to 'go ask question', ask_path %>
</div>
